* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(250, 250, 250);
    padding: 50px 0;
    font-family: 'Inter', sans-serif;
    /* position: relative; */

}

.container  {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right: 300px; */
}

.canvas {
    width: 500px;
    height: 500px;
    display: flex;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.75);
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.square {
    flex: 1;
    background-color: rgb(216, 216, 216);
}

.grid {
    border: 1px solid aquamarine;
}

.square:hover {
    background-color: aquamarine;
}

.square:not(:hover) {
    transition: ease-in 0.3s;
}

.current-square {
    border: 1px solid black;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    position: absolute;
    left: 30%;
}

.slider-container {
    /* background-color: pink; */
    height: 100%;
}

#slider {
    height: 100%;
    /* top: 40%; */
    transform: rotate(270deg);
}

#slider-output {
    font-weight: 700;
    position: absolute;
    top: 43%;
    left: 20px;
}

.swatch-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#swatch {
    border: none;
    background: none;
    color: none;
}

input[type="color" i]::-webkit-color-swatch {
    border: none;
}
 

.control-container  {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.controls {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Inter', sans-serif;
    gap: 5px;
}

button {
    flex: 1;
    height: 100%;
    padding: 10px 20px;
    background-color: rgb(250,250,250);
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgb(111, 188, 163);
    font-weight: 100;
    font-family: 'Inter', sans-serif;
    color: aquamarine;
}

button:hover {
    /* background-color: rgba(252, 255, 235, 0.597); */
}

.info-container {
    height: 300px;
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    width: 100%;
    height: 100%;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    color: rgb(52, 51, 51);
    display: flex;
    /* justify-content: center;/ */
    text-align: center;
}

.credit {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(132, 116, 135);

}

.github-link > a {
    text-decoration: none;
    color: rgb(132, 116, 135);
    font-weight: 700;
}

.github {
    width: 20px;
    height: 20px;
}

.darken {
    background-color: rgba(41, 41, 41, 0.055);
}