* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(250, 250, 250);
    padding: 50px 0;
    font-family: 'Inter', sans-serif;
}

.container  {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    width: 500px;
    height: 500px;
    display: flex;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.75);
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.square {
    flex: 1;
    background-color: rgb(216, 216, 216);
}

.square-border {
    border: 1px solid aquamarine;
}

.square:hover {
    background-color: aquamarine;
}

.square:not(:hover) {
    transition: ease-in 0.3s;
}

.current-square {
    border: 1px solid black;
}

.slide-container {
    position: relative;
}

#slider {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: rotate(-90deg);
}

#slider-output {
    position: absolute;
    top: 50%;
    right: 100px;
    font-weight: 700;
}

.control-container  {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.controls {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Inter', sans-serif;
    gap: 5px;
}

button {
    padding: 10px 20px;
    background-color: transparent;
    font-size: 20px;
    flex: 1;
    border-radius: 15px;
}

